<h2>Create Movie</h2>

<form method="POST">
  <input type="text" placeholder="Title" name="title" />
  <input type="text" placeholder="Genre" name="genre" />
  <input type="text" placeholder="Plot" name="plot" />

  <select multiple name="cast">
    {{#each celebrities}}
      <option value="{{_id}}">
        {{name}}</option>
    {{/each}}
  </select>

  <button>Add movie</button>
</form>